<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alodiga.app">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.alodiga.app.wallet.splash.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.alodiga.app.wallet.login.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
             android:name="com.alodiga.app.wallet.main.MainActivity"
             android:theme="@style/AppTheme.NoActionBar">
         </activity>

            <activity
                android:name="com.alodiga.app.wallet.manualRecharge.ManualRechargeStep1Activity"
                android:theme="@style/AppTheme.NoActionBar">
            </activity>

           <activity
               android:name="com.alodiga.app.wallet.paymentComerce.PaymentComerceStep3Activity"
               android:theme="@style/AppTheme.NoActionBar">
           </activity>
           <activity
               android:name="com.alodiga.app.wallet.paymentComerce.PaymentComerceStep5Activity"
               android:theme="@style/AppTheme.NoActionBar">
           </activity>

           <activity
               android:name="com.alodiga.app.wallet.paymentComerce.PaymentComerceStep6Activity"
               android:theme="@style/AppTheme.NoActionBar">
           </activity>
            <activity
                android:name="com.alodiga.app.wallet.transference.TransferenceStep1Activity"
                android:theme="@style/AppTheme.NoActionBar">
            </activity>
            <activity
                android:name="com.alodiga.app.wallet.changePassword.ChangePasswordActivity"
                android:theme="@style/AppTheme.NoActionBar">
            </activity>
           <activity
               android:name="com.alodiga.app.wallet.QR.CreateQRCodeActivity"
               android:theme="@style/AppTheme.NoActionBar">
           </activity>

        <activity
               android:name="com.alodiga.app.wallet.paymentComerce.PaymentComerceStep1Activity"
               android:theme="@style/AppTheme.NoActionBar">
           </activity>
        <activity
               android:name="com.alodiga.app.wallet.manualRemoval.ManualRemovalStep1Activity"
               android:theme="@style/AppTheme.NoActionBar">
           </activity>
           <activity
               android:name="com.alodiga.app.wallet.listTransactionExecuted.ListTransactionExecutedActivity"
               android:theme="@style/AppTheme.NoActionBar">
           </activity>
           <activity
               android:name="com.alodiga.app.wallet.manualRemoval.ManualRemovalStep2WelcomeActivity"
               android:theme="@style/AppTheme.NoActionBar">
           </activity>
           <activity
               android:name="com.alodiga.app.wallet.paymentComerce.PaymentComerceStep4codeActivity"
               android:theme="@style/AppTheme.NoActionBar">
           </activity>
           <activity
               android:name="com.alodiga.app.wallet.utils.FailCodeOperationActivity"
               android:theme="@style/AppTheme.NoActionBar">
           </activity>
           <activity
               android:name="com.alodiga.app.wallet.manualRecharge.ManualRechargeStep2WelcomeActivity"
               android:theme="@style/AppTheme.NoActionBar">
           </activity>
           <activity
               android:name="com.alodiga.app.wallet.transference.TransferenceStep3Activity"
               android:theme="@style/AppTheme.NoActionBar">
           </activity>

           <activity
               android:name="com.alodiga.app.wallet.transference.TransferenceStep4codeActivity"
               android:theme="@style/AppTheme.NoActionBar">
           </activity>

           <activity
               android:name="com.alodiga.app.wallet.transference.TransferenceStep5Activity"
               android:theme="@style/AppTheme.NoActionBar">
           </activity>
           <activity
               android:name="com.alodiga.app.wallet.transference.TransferenceStep6Activity"
               android:theme="@style/AppTheme.NoActionBar">
           </activity>
           <activity
               android:name="com.alodiga.app.wallet.transference.TransferenceStep2QrActivity"
               android:theme="@style/AppTheme.NoActionBar">

           </activity>
           <activity android:name="com.alodiga.app.wallet.paymentComerce.PaymentComerceStep2QrActivity" />
           <activity
               android:name="com.alodiga.app.wallet.splash.FailConnectionSplashActivity"
               android:theme="@style/AppTheme.NoActionBar">
           </activity>
        <activity
            android:name="com.alodiga.app.wallet.topup.TopupStep1Activity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.alodiga.app.wallet.topup.TopupStep2Activity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.alodiga.app.wallet.topup.TopupStep3Activity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.alodiga.app.wallet.exchange.ExchangeStep1Activity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.alodiga.app.wallet.exchange.ExchangeStep2Activity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.alodiga.app.wallet.exchange.ExchangeStep3codeActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.alodiga.app.wallet.exchange.ExchangeStep4Activity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
           <receiver android:name="com.alodiga.app.wallet.utils.SmsReceiver">
               <intent-filter>
                   <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
               </intent-filter>
           </receiver>


       </application>



    </manifest>